# Web Development
requests==2.31.0
streamlit==1.30.0

# PDF and Image Processing
pdf2image==1.16.3
Pillow==10.2.0
PyPDF2==3.0.1
pytesseract==0.3.10

# Data Analysis
numpy==1.26.3
pandas==2.2.0

# Sytem
psutil