# ============================
# Networking / API Clients / System Utilities
# ============================
requests
psutil
utils

# ============================
# Other
# ============================
streamlit==1.50.0
streamlit_pdf_viewer
st-mui-table
sqlalchemy
opencv-python
numpy==1.26.3
python-dateutil
werkzeug
pytest


# ============================
# Data Analysis / Machine Learning
# ============================
pandas==2.2.0
scikit-learn
transformers
sentence-transformers
plotly

# ============================
# Computer Vision / OCR
# ============================
pdf2image==1.16.3
Pillow==10.2.0
PyPDF2==3.0.1
pytesseract==0.3.10
easyocr
paddleocr
paddlepaddle
pymupdf
pypdfium2

# ============================
# File Formats / Serialization
# ============================
pyyaml
openpyxl

# ============================
# LLMs
# ============================
ollama 
pydantic 
instructor

# ============================
# Poppler dependencies
# ============================
# poppler-cpp
# meson
# cmake
# python-poppler